[submodule "Assets/Flying-Pathfinding"]
	path = Assets/Flying-Pathfinding
	url = git@github.com:DigitalPainting/Flying-Pathfinding.git
[submodule "Assets/UnityDocGen"]
	path = Assets/UnityDocGen
	url = git@github.com:DigitalPainting/UnityDocGen.git
[submodule "Assets/Plugin_Terrain_ProceduralGeneration"]
	path = Assets/Plugin_Terrain_ProceduralGeneration
	url = git@github.com:DigitalPainting/Plugin_Terrain_ProceduralGeneration.git
[submodule "Assets/Plugin_Agent_UMA"]
	path = Assets/Plugin_Agent_UMA
	url = git@github.com:DigitalPainting/Plugin_Agent_UMA.git
[submodule "Assets/Plugin_Weather_WeatherMaker"]
	path = Assets/Plugin_Weather_WeatherMaker
	url = git@github.com:DigitalPainting/Plugin_Weather_WeatherMaker.git
[submodule "Assets/Plugin_Agent_HerdSim"]
	path = Assets/Plugin_Agent_HerdSim
	url = git@github.com:DigitalPainting/Plugin_Agent_HerdSim.git
